* {
    margin: 0;
    padding: 0;
}
.blog {
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    border: 2px solid tomato;
    margin: 20px;
}
.blog2 {
    background-color: powderblue;
}
h2 {
    padding: 10px 0;
}